@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');

html, :root {
  color: $color-text;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "palt";
  -webkit-font-feature-settings: "palt";

  font-family: 'Noto Sans JP', sans-serif;
  //font-family: 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

  font-size: 16px; //=1rem
  line-height: 2;
  //letter-spacing: 0.06em;
}

em {
  //color: $color-orange;
}

h1, h2, h3, h4, h5, h6 {
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5, h6 {
}

@include mediaquery-not-sm {
  p {
    font-size: 16px;
  }
}

@include mediaquery-sm {
  p {
    font-size: 14px;
  }
}

b, strong {
}
